{% extends "index.html" %}

{% block title %}<title>login page</title>{% endblock title %}
{% block personal_page %}
{% load static %}
    
  
  <section id="about_section" class="py-5">
    <div class="d-flex row gap-5 justify-content-center" id="top_after_nav">
       <form action="" method="post" class="d-flex row justify-content-center form-layout gap-3 card p-2 mx-auto" style="width: 35rem;">
        <div class="d-flex justify-content-center"><a class="navbar-brand text-secondary text-opacity-50 fs-1" id="logo-container"><em id="logo">GRAD</em> SCHOOL</a></div>
        <h4 class="text-center" style="color: #aaa;">
         Login Page
    </h4>
       <div class="d-flex flex-column gap-4 g-2">
        {% csrf_token %}
        <!-- {{form.as_table}} -->
       <div class="d-flex row g-4">
        <div>
          <input type="text" name="{{form.username.name}}" class="form-control shadow-sm border-1" placeholder="Username">
        </div>
        <div>
          <input type="password" name="{{form.password.name}}" class="form-control shadow-sm border-1" placeholder="Password">
        </div>
       </div>
       
       <div class="d-flex justify-content-center">
         <button type="submit" class="btn btn-primary rounded-0" style="width: fit-content;">Login</button>
        </div>
        
        <div class="d-flex justify-content-evenly">
          <p class="">Don't have an account?<a href="{% url 'signup' %}" class="text-decoration-none"> Signup</a></p>
          <a href="{% url 'password_reset' %}" class="text-decoration-none">Forget Password?</a>
        </div>

       </form>
    </div>
</section>

  {% endblock personal_page %}  
