{% extends "index.html" %}

{% block personal_page %}
{% load static %}
    
  
  <section id="about_section" class="py-5">
    <div class="d-flex row gap-5 justify-content-center" id="top_after_nav">
       <div class="card rounded-0 mx-auto d-flex justify-content-center align-items-center" style="width: 33rem; min-height: 45vh; max-height: 100%;">
        <div class="d-flex justify-content-center"><a class="navbar-brand fs-1" id="logo-container" style="color: #aaa;"><em id="logo">GRAD</em> SCHOOL</a></div>
        <h5 class="text-center" style="color: #aaa;">
          Password Reset Done
      </h5>
        <div>
          <h4 class="fw-bold">Password reset link has been sent to the provided email</h4>
        <a href="{% url 'login' %}" class="btn btn-md btn-primary mx-auto" style="width: fit-content;">Finish</a>
        </div>
       </div>
    </div>
</section>

  {% endblock personal_page %}  
