{% extends "common.html" %}

{% block page_content %}
{% load static %}
    
  
  <section id="about_section" class="py-5">
    <div class="d-flex row gap-5 justify-content-center" id="top_after_nav">
       <form action="" method="post" class="d-flex row justify-content-center form-layout gap-3 card p-2 mx-auto" style="width: 30vw;">
        <div class="d-flex justify-content-center"><a class="navbar-brand fs-1" id="logo-container" style="color: #aaa;"><em id="logo">GRAD</em> SCHOOL</a></div>
       <div class="d-flex flex-column">
        {% csrf_token %}
        {{form.as_table}}
        <div class="d-flex justify-content-center my-2">
          <button type="submit" class="btn btn-primary rounded-0" style="width: fit-content;">Send</button>
        </div>
       </form>
    </div>
</section>

  {% endblock page_content %}  
