{% extends "common.html" %}

{% block page_content %}
{% load static %}
    
  
  <section id="about_section" class="py-5">
    <div class="d-flex row gap-5 justify-content-center p-3" id="top_after_nav">
        <div class="card rounded-0 mx-auto" style="width: fit-content;">
            <div class="heading">
                <h2>
                    Password Changed Done
                </h2>
               </div>
        <p class="text-success">Password Successfully Changed</p>
       </div>
    </div>
</section>

  {% endblock page_content %}  
