{% extends "common.html" %}

{% block page_content %}
{% load static %}
    
  
  <section id="about_section" class="py-5">
    <div  id="top_after_nav">
      <div class="card rounded-0 mx-auto d-flex justify-content-center align-items-center" style="width: 33rem; min-height: 45vh; max-height: 100%;">
      <div class="d-flex justify-content-center"><a class="navbar-brand fs-1" id="logo-container" style="color: #aaa;"><em id="logo">GRAD</em> SCHOOL</a></div>
        <h5 class="text-center fst-italic" style="color: #aaa;">
          Password Reset Complete
      </h5>
      <div class="my-2">
          <h5 class="fw-bold text-center">
              Password Reset Complete and Password reset successful!</h5>
        </div>
        <div>
        <a href="{% url 'login' %}" class="btn btn-md btn-primary mx-auto" style="width: fit-content;">Finish</a>
        </div>
      </div>
    </div>
    </div>
</section>

{% endblock page_content %}  