{% extends "common.html" %}

{% block page_content %}
{% load static %}
{% block title %}
    <title>courses</title>
{% endblock title %}

 <!-- COURSES -->
 <section id="about_section" class="position-relative py-5">
        
    <!-- HEADING -->
    <div class="d-flex row gap-5 justify-content-center" id="top_after_nav">
        <div id="courses_quest" class="d-flex align-items-center justify-content-center p-1">
            <h6 class="text-center text-white fw-bold">Why choose Grad School?</h6>
        </div>
    </div>

    <!-- COURSES CARD -->
    <div class="mt-5 px-4">
       <div id="card_container" class="d-flex gap-4 justify-content-center row">

        <!-- DIGITAL MARKETING -->
        <div id="card" class="border-0 rounded-3 col-sm-9 col-md-6 col-lg-3" style="width: 18rem;">
            <img src="{% static 'images/courses-01.jpg' %}" alt="" class="img-fliud rounded-top-3 card-img w-100">

          <div class="p-1">
            <div class="d-flex align-items-center justify-content-center row py-4 px-3" id="card_contents">
                <h6 class="text-start text-uppercase fw-bold">digital marketing</h6>

                <p class="">You can get free images and videos for your website by visting Unsplash, Pixabay and Pexels</p>
               </div>

               <ul class="d-flex align-items-center justify-content-between list-unstyled px-2">
                <li>
                    <img id="author" src="{% static 'images/author-01.png' %}" alt="" class="img-fliud">
                </li>
                <li>
                    <a href="" id="card_link_pay" class="text-decoration-none">pay <i class="fa fa-angle-double-right"></i></a>
                </li>
               </ul>
               </div>
            </div>

        <div id="card" class="border-0 rounded-3 col-sm-9 col-md-6 col-lg-3" style="width: 18rem;">
            <img src="{% static 'images/courses-02.jpg' %}" alt="" class="img-fliud rounded-top-3 card-img w-100">

          <div class="p-1">
            <div class="d-flex align-items-center justify-content-center row py-4 px-3" id="card_contents">
                <h6 class="text-start text-uppercase fw-bold">business world</h6>

                <p class="">You can get free images and videos for your website by visting Unsplash, Pixabay and Pexels</p>
               </div>

               <ul class="d-flex align-items-center justify-content-between list-unstyled px-2">
                <li>
                    <img id="author" src="{% static 'images/author-02.png' %}" alt="" class="img-fliud">
                </li>
                <li>
                    <a href="" id="card_link_pay" class="text-decoration-none text-dark">free <i class="fa fa-angle-double-right"></i></a>
                </li>
               </ul>
               </div>
            </div>

        <div id="card" class="border-0 rounded-3 col-sm-9 col-md-6 col-lg-3" style="width: 18rem;">
            <img src="{% static 'images/courses-03.jpg' %}" alt="" class="img-fliud rounded-top-3 card-img w-100">

          <div class="p-1">
            <div class="d-flex align-items-center justify-content-center row py-4 px-3" id="card_contents">
                <h6 class="text-start text-uppercase fw-bold">media technology</h6>

                <p class="">You can get free images and videos for your website by visting Unsplash, Pixabay and Pexels</p>
               </div>

               <ul class="d-flex align-items-center justify-content-between list-unstyled px-2">
                <li>
                    <img id="author" src="{% static 'images/author-03.png' %}" alt="" class="img-fliud">
                </li>
                <li>
                    <a href="" id="card_link_pay" class="text-decoration-none">pay <i class="fa fa-angle-double-right"></i></a>
                </li>
               </ul>
               </div>
            </div>

        <div id="card" class="border-0 rounded-3 col-sm-9 col-md-6 col-lg-3" style="width: 18rem;">
            <img src="{% static 'images/courses-04.jpg' %}" alt="" class="img-fliud rounded-top-3 card-img w-100">

          <div class="p-1">
            <div class="d-flex align-items-center justify-content-center row py-4 px-3" id="card_contents">
                <h6 class="text-start text-uppercase fw-bold">communications</h6>

                <p class="">You can get free images and videos for your website by visting Unsplash, Pixabay and Pexels</p>
               </div>

               <ul class="d-flex align-items-center justify-content-between list-unstyled px-2">
                <li>
                    <img id="author" src="{% static 'images/author-04.png' %}" alt="" class="img-fliud">
                </li>
                <li>
                    <a href="" id="card_link_pay" class="text-decoration-none">pay <i class="fa fa-angle-double-right"></i></a>
                </li>
               </ul>
               </div>
            </div>

        <div id="card" class="border-0 rounded-3 col-sm-9 col-md-6 col-lg-3" style="width: 18rem;">
            <img src="{% static 'images/courses-05.jpg' %}" alt="" class="img-fliud rounded-top-3 card-img w-100">

          <div class="p-1">
            <div class="d-flex align-items-center justify-content-center row py-4 px-3" id="card_contents">
                <h6 class="text-start text-uppercase fw-bold">business ethics</h6>

                <p class="">You can get free images and videos for your website by visting Unsplash, Pixabay and Pexels</p>
               </div>

               <ul class="d-flex align-items-center justify-content-between list-unstyled px-2">
                <li>
                    <img id="author" src="{% static 'images/author-05.png' %}" alt="" class="img-fliud">
                </li>
                <li>
                    <a href="" id="card_link_pay" class="text-decoration-none">pay <i class="fa fa-angle-double-right"></i></a>
                </li>
               </ul>
               </div>
            </div>

        <!-- <div id="card" class="border-0 rounded-3">
            <img src="/images/courses-01.jpg" alt="" class="img-fliud w-100 rounded-top-3">

          <div class="p-1">
            <div class="d-flex align-items-center justify-content-center row py-4 px-3" id="card_contents">
                <h6 class="text-start text-uppercase fw-bold">media technology</h6>

                <p class="">You can get free images and videos for your website by visting Unsplash, Pixabay and Pexels</p>
               </div>

               <ul class="d-flex align-items-center justify-content-between list-unstyled px-2">
                <li>
                    <img id="author" src="/images/author-01.png" alt="" class="img-fliud">
                </li>
                <li>
                    <a href="" id="card_link_pay" class="text-decoration-none">pay <i class="fa fa-angle-double-right"></i></a>
                </li>
               </ul>
               </div>
            </div> -->

          </div>
          
          <div class="d-flex justify-content-center gap-4 align-items-center" style="min-height: 10vh;">
              <i id="btn_card" class="fa fa-square"></i>
              <i id="btn_card" class="fa fa-square"></i>
              <i id="btn_card" class="fa fa-square"></i>
            </div>
            
        </div>
    </div>

 </section>

 <!-- WATCH VIDEO -->

 <section id="video_section" class="d-flex justify-content-center align-items-center">
    <div>
        
    <div class="d-flex justify-content-center gap-5">
        <div class="text-white" style="width: 35%;">
           <p class="text-uppercase">our presetation is for you</p>
           <h2 id="video_details">Watch the video to learn more <em class="fst-normal">about Grad School</em></h2>

           <p id="vid_para" class="mt-3">You are NOT allowed to redistribute this template ZIP file on any template collection website. However, you can use this template to convert into a specific theme for any kind of CMS platform such as WordPress. You may <a href="" id="about_info_link" class="text-decoration-none">contact TemplateMo</a> for details.</p>

           <p id="vid_para" class="mt-3">Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.
           </p>
           
           <div>
            <a href="" class="btn btn-lg text-white text-uppercase fw-bold rounded-0" id="vid_link">enteral url</a>
           </div>

        </div>
        <div class="text-white" style="width: 40%;">
           <video id="watch_video" loop autoplay muted controls>
            <source src="{% static 'images/course-video.mp4' %}" type="video/mp4">
           </video>
        </div>
    </div>
    </div>

 </section>

{% endblock page_content %}