{% extends "side_nav.html" %}
{% block title %}<title>Course Form</title>{% endblock title %}
{% block personal_page %}
{% load static %}
    
  
  <section>
    <div class="d-flex row gap-5 justify-content-center">
       <div class="gap-3 card px-2 mx-auto w-50 rounded-0 py-5 bg-inf" style="min-height: 80vh;">

        <div class="d-flex justify-content-center"><a class="navbar-brand text-secondary text-opacity-50 fs-1" id="logo-container"><em id="logo">GRAD</em> SCHOOL</a></div> 

        {% if registered_courses %}
        <h2 class="text-center" style="color: #aaa;">
           Course Form
      </h2>
      {% if user_info %}
      {% for user in user_info %}
        
      <div class="d-flex justify-content-between">
        <div>
            <div><strong>Name:</strong> {{user.last_name}} {{user.first_name}} {% if user.profile.other_name %} {{user.profile.other_name}} {% endif %}</div>
    
            <div><strong>Level:</strong> None</div>
            <div><strong>Department:</strong> {{user.student_table.department}}</div>
            <div><strong>Matric Number:</strong> {{user.student_table.matric_number}}</div>
          </div>
          
        <div>
            {% if user.profile.profile_passport %}
            <img src="{{user.profile.profile_passport.url}}" alt="" srcset="" style="width: 5rem; height: 5rem;" class="rounded-circle">
            {% else %}
            <img src="{% static '/images\profile_icon.png' %}" style="width: 5rem; height: 5rem;" alt="" srcset="">
            {% endif %}
        </div>
      </div>
      {% endfor %}
      {% endif %}
       <div class="d-flex row justify-content-center gap-2 px-3">
       
       {% if registered_courses %}
       <div
        class="table-responsive"
       >
        <table
            class="table table-light"
        >
            <thead>
                <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course Unit</th>
                </tr>
            </thead>
            <tbody>
                {% for reg_course in registered_courses %}
                <tr class="">
                    <td scope="row">{{reg_course.course.course}}</td>
                    <td scope="row">{{reg_course.course.course_code}}</td>
                    <td scope="row">{{reg_course.units}} </td>
                </tr>
                
                {% endfor %}
                <tr>
                    <td>Total Units</td>
                    <td></td>
                    <td>{{total_unit}}</td>
            </tbody>
        </table>
        
       
       </div>
       
           <div class="d-flex justify-content-between">
            <div class="text-center">________________ <br> Level Advisor</div>
            <div class="text-center">________________ <br> Student</div>
           </div>
         
       {% endif %}


       {% else %}
       <p class="bg-secondary bg-opacity-25 p-3 text-center fs-5">No course(s) registered <a href="{% url 'course_reg' request.user.id %}">Register     course</a></p>
      {% endif %}
       
       </div>
</section>

  {% endblock personal_page %}  
