{% extends "side_nav.html" %}
{% block title %}<title>Course Details</title>{% endblock title %}
{% block personal_page %}
{% load static %}
    
  
  <section>
    <div class="d-flex row gap-5 justify-content-center">
       <div class="gap-3 card px-2 mx-auto w-50 rounded-0 py-5">
        <h2 class="text-center">
           Course Details
      </h2>
      {% if messages %}
      {% for message in messages  %}
        {{message}}
      {% endfor %}
      {% endif %}
       <div class="d-flex row justify-content-center gap-2 px-3">
       
       {% if details %}
         {% for detail in details %}
           <div><strong>Course Title: </strong>{{detail.course}}</div>
           <div><strong>Course Code: </strong>{{detail.course_code}}</div>
           <div><strong>Course Unit: </strong>{{detail.unit}}</div>
           <div><strong>Level: </strong>{{detail.level}}</div>
           <div><strong>Status: </strong><i class="fw-bold">{{detail.status}}</i> {% if detail.status == 'Active' %}
            <i class="fa fa-check-circle text-success fs-5 fw-bold"></i>{% elif detail.status == 'Inactive' %}
            <i class="fa fa-times-circle text-danger fs-5 fw-bold"></i>
           {% endif %}</div>
           <div><strong>Lecturer Incharge: </strong>{{detail.user.first_name}} {{detail.user.last_name}} <a href="{% url 'profile' detail.course_model.user_id %}">View Profile</a></div><hr>

           <div class="d-flex gap-3">
           <div><a href="{% url 'edit_course' detail.reg_id %}" class="btn btn-primary">Edit</a></div>
          
            <!-- Modal trigger button -->
            <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#modalId"
           >
            Delete
           </button>
        </div>
        
        
           
           <!-- Modal Body -->
           <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
           <div
            class="modal fade"
            id="modalId"
            tabindex="-1"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            
            role="dialog"
            aria-labelledby="modalTitleId"
            aria-hidden="true"
           >
            <div
                class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">
                           Alert
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete <br><strong>Course Title: {{detail.course}}</strong><br> <strong>Course Code: {{detail.course_code}}</strong></div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-primary"
                            data-bs-dismiss="modal"
                        >
                            Cancel
                        </button>
                        <a href="{% url 'delete_course' detail.reg_id %}" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
           </div>
           
           <!-- Optional: Place to the bottom of scripts -->
           <script>
            const myModal = new bootstrap.Modal(
                document.getElementById("modalId"),
                options,
            );
           </script>
           

         {% endfor %}
       {% endif %}
       </div>
</section>

  {% endblock personal_page %}  
