{% extends "admission_bar.html" %}
{% block title %}<title>Admission Reg Page</title>{% endblock title %}
{% block personal_page %}
{% load static %}

<section>
    <form action="" method="post" enctype="multipart/form-data" class="card mx-auto p-4" style="width: fit-content;">

        {% csrf_token %}

        <div>
            {{user.as_p}}
            {{profile_form.as_p}}
            {{admission_form.as_p}}
        </div>
        <button type="submit" style="width: fit-content;" class="btn btn-primary">Save</button>
    </form>
</section>
  
{% endblock personal_page %}