{% extends "index.html" %}

{% block title %}<title>Admission Reg Page</title>{% endblock title %}
{% block personal_page %}
{% load static %}
    
  
  <section id="about_section" class="py-5">
    <div class="d-flex row gap-5 justify-content-center" id="top_after_nav">
       <form action="" method="post" class="d-flex row justify-content-center form-layout gap-3 card  mx-auto rounded-0 py-2" style="width: 35rem;">
        <div class="d-flex justify-content-center"><a class="navbar-brand text-secondary text-opacity-50 fs-1" id="logo-container"><em id="logo">GRAD</em> SCHOOL</a></div>
        <h4 class="text-center fst-italic" style="color: #aaa;">
          Aspirant Login Page
      </h4>
      {% if messages %}
      {% for message in messages  %}
        {{message}}
      {% endfor %}
      {% endif %}
       <div class="d-flex row justify-content-center gap-2">

        
        {% csrf_token %}


       {{form.as_p}}

  
       
       <div class="d-flex justify-content-center">
         <button type="submit" class="btn btn-primary rounded-0" style="width: 8rem; height: 2.8rem;">Login</button>
        </div>
        
        <div class="d-flex justify-content-between">
          <p class="">Don't have an account?<a href="{% url 'admission_reg' %}" class="text-decoration-none"> Register</a></p>
          <a href="{% url 'password_reset' %}" class="text-decoration-none">Forget Password?</a>
        </div>

       </form>
    </div>
</section>

  {% endblock personal_page %}  
