{% extends "side_nav.html" %}
{% block personal_page %}
{% load static %}

<section>

    {% if all_reg %}

    <div class="d-flex row justify-content-center gap-5 g-3 mb-4">
        <div class="card col-sm-10 col-md-5 col-lg-3 d-flex justify-content-center align-items-center" style="min-height: 8rem; max-height: 100%; background-color: #eee;">
            <h5 class="fw-bold">Registered Aspirants</h5>
            <p class="fs-4 fw-bold text-success">{{agg}}</p>
        </div>
        <div class="card col-sm-10 col-md-5 col-lg-3 d-flex justify-content-center align-items-center" style="min-height: 7rem; max-height: 100%; background-color: #eee;">
            <h5 class="fw-bold">Admitted Aspirants</h5>
            <p class="fs-4 fw-bold text-success">{{admission}}</p>
        </div>
        
    </div>
      
    <div
        class="table-responsive"
    >
        <table
            class="table table-striped-rows table-hover table-border table-primary align-middle"
        >
            <thead class="table-dark">
                <tr>
                    <th class="text-center">S/N</th>
                    <th class="text-center">Full Name</th>
                    <th class="text-center">Passport</th>
                    <th class="text-center">Admission Status</th>
                    <th class="text-center">Course</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for reg in all_reg %}
                <tr
                class="table-light"
            >
                <td scope="row" class="text-center">{{reg.aspirant_id}}</td>
                <td class="text-center">{{reg.user.last_name}} {{reg.user.first_name}} {{reg.user.profile.other_name}}</td>
                <td class="text-center">
                    <img src="{{reg.passport.url}}" style="width: 3rem; height: 3rem;" class="rounded-circle" alt="" srcset="">
                </td>
                <td class="text-center">

                    
                    
                    {% if reg.admission_approval.status is True %}
                        <i class="fa fa-check-circle text-success fs-5"></i>
                    {% else %}
                        <i class="fa fa-times-circle text-danger fs-5"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                   {{reg.course}}
                </td>
                <td class="text-center"><a href="{% url 'aspirant_profile' reg.user_id %}">View</a></td>

            </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                
            </tfoot>
        </table>
    </div>
    
    {% else %}

    <div class="d-flex align-items-center justify-content-center" style="height: 50vh;">
        <p class="text-center text-white fs-5">No record found <a href="" class="text-decoration-none text-warning fst-italic">Refresh Page</a></p>
    </div>
    {% endif %}
    
</section>
{% endblock personal_page %}