{% extends "paymentApp/payment_details.html" %}
{% block title %}<title>Invoice</title>{% endblock title %}
{% block payment %}
{% load static %}
    
  
  <section>
    
        <h2 class="text-center">
          {% if status == 'tuition' %}
            Tuition Fee
          {% elif status == 'late_reg' %}
            Late Registration Fee
          {% elif status == 'reg_form' %}
            Registration Form Fee
          {% elif status == 'acceptance_fee' %}
            Acceptance Fee
          {% endif %}
      </h2>
      

      <div class="mx-auto">
      <div class="gap-2">

        {% if user_profile %}
      {% for user in user_profile %}
      

        <div class="col-12 d-flex gap-2 row" style="margin-bottom: -0.3rem;">
            <div>
                <strong>Name:</strong> {{user.last_name}} {{user.first_name}} {% if user.profile.other_name %}
            {{user.profile.other_name}}
            {% endif %}
            </div>
        
            <div class="d-flex gap-2">
                <strong>Payment Description:</strong> <p class="text-capitalize"> {% if status == 'tuition' %}
                    Tuition Fee
                  {% elif status == 'late_reg' %}
                    Late Registration Fee
                  {% elif status == 'reg_form' %}
                    Registration Form Fee
                  {% elif status == 'acceptance_fee' %}
                    Acceptance Fee
                  {% endif %}</p>
            </div>
        </div>
        {% endfor %}
      {% endif %}


          
        <div class="col-12 d-flex gap-2 row">
            
            
            <div>
                <strong>Amount:</strong> {{invoice.amount}} Naira Only {% if status == 'tuition' %}({{invoice.transaction_type}}) {% endif %}
        </div>
        
        


          {% if invoice %}
          <div class="mx-auto">
            <a href="{% url 'cancel_payment' invoice.invoice_id status %}" class="btn btn-secondary rounded-0 my-3" type="submit" style="width: fit-content;"> << Cancel</a>
          <a href="{% url 'make_payment' invoice.invoice_id %}" class="btn btn-primary rounded-0 my-3" type="submit" style="width: fit-content;">Proceed >></a>
          </div>
          {% endif %}
       

    </div>
    </div>
      
    
      
</section>

  {% endblock payment %}  
