<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Payment Details</title>{% endblock title %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <style>
  @media screen and (max-width: 700px) {
    #size{
      width: 85% !important;
    }
  }   
  </style>
    <body>
  <section id="home-sect">
    <!-- BODY -->
      
    <div class="">
      <section id="about_section" style="padding-top: 10em; padding-bottom: 5em; ">
      

        
        <div class="d-flex row gap-5 justify-content-center">
          <div class="gap-3 card  mx-auto px-2 rounded-0 py-5" style="width: 35rem;">
        <div class="d-flex justify-content-center"><a class="navbar-brand fs-1" style="color: #bbb;" id="logo-container"><em id="logo">GRAD</em> SCHOOL</a></div>
       

        {% block payment %}

        <h2 class="text-center" style="color: #aaa;">
          {% if status == 'tuition' %}
            Tuition Fee
          {% elif status == 'late_reg' %}
            Late Registration Fee
          {% elif status == 'reg_form' %}
            Registration Form Fee
          {% endif %}
      </h2>
      

      <div style="margin-left: 8rem; margin-right: 5rem;">
      <div class="gap-2">

        {% if user_profile %}
      {% for user in user_profile %}
      

        <div class="col-12 d-flex gap-2 justify-content-center row" style="margin-bottom: -0.3rem;">
            <div>
                <strong>Name:</strong> {{user.last_name}} {{user.first_name}} {% if user.profile.other_name %}
            {{user.profile.other_name}}
            {% endif %}
            </div>
        
            <div class="d-flex gap-2">
                <strong>Payment Description:</strong> <p class="text-capitalize"> {% if status == 'tuition' %}
                    Tuition Fee
                  {% elif status == 'late_reg' %}
                    Late Registration Fee
                  {% elif status == 'reg_form' %}
                    Registration Form Fee
                  {% elif status == 'acceptance_fee' %}
                    Acceptance Fee
                  {% endif %}</p>
            </div>
        </div>
        {% endfor %}
      {% endif %}

      {% if fee %}
        {% for fees in fee %}
          
        <div class="col-12 d-flex gap-2 row">
            {% if status == 'tuition' %}
            
            <div>
                <strong>Full payment:</strong> {{fees.Full_tuition_fee}} Naira Only
            </div>
            <div>
                <strong>Part payment:</strong> {{fees.part_tuition_fee}} Naira Only
            </div>

            {% elif status == 'late_reg' %}
            <div>
                <strong>Amount:</strong> {{fees.late_reg_fee}} Naira Only
            </div>
                  {% elif status == 'reg_form' %}
                  <div>
                    <strong>Amount:</strong> {{fees.admission_form_fee}} Naira Only
                </div>
                  {% elif status == 'acceptance_fee' %}
                  <div>
                    <strong>Amount:</strong> {{fees.acceptance_fee}} Naira Only
                </div>

            {% endif %}
        </div>
        
        {% endfor %}
        {% endif %}

        {% if status == 'tuition' %}
          <div class="col-12 my-2">
            <form action="" method="post" style="width: fit-content;">
                {% csrf_token %}
                
                <label for=""><strong>Payment Category</strong></label>
                {{tuition_form.transaction_type}}
                
               <div class="my-2">
                <button type="submit"class="btn btn-primary rounded-0 my-3" type="submit" style="width: fit-content;">Proceed >></button>
                <!-- <a href="{% url 'payment_confirm' request.user.id status %}" class="btn btn-primary rounded-0 my-3" type="submit" style="width: fit-content;">Proceed >></a> -->
               </div>
              </form>
          </div>
        {% else %}
          <a href="{% url 'payment_confirm' request.user.id status %}" class="btn btn-primary rounded-0 my-3" type="submit" style="width: fit-content;">Proceed >></a>
        {% endif %}



    </div>
    </div>
          
        {% endblock payment %}
      
    
       </div>
    </div>
</section>

</section>

<!-- FOOTER -->
<footer id="footer" class="" style=" z-index: 99;">
<hr>
<div class="d-flex align-items-center justify-content-center gap-3" id="footer-content">
 <p class="text-white fs-6 fw-bold" id="footer-text"><i class="fa fa-copyright"></i>Copyright 2024 by Grad School | Design: <em id="footer-em">Ogunkunle Benjamin</em></p>
</div>
</footer>

</div>

 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

  <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
</body>
</html>
