{% extends "side_nav.html" %}

{% block title %}<title>Admission Reg Page</title>{% endblock title %}
{% block personal_page %}
{% load static %}
    
  
  <section>
    <div class="d-flex row gap-5 justify-content-center" id="top_after_nav">
        <div class="card w-75 px-3 py-5" style="background-color: #eee;">
       <div>

        {% if user_profile  %}
          {% for profile in user_profile  %}
          

          <div class="d-flex justify-content-end gap-1 py-3">
            <a href="{% url 'logout' %}" class="btn btn-outline-danger fw-bold">Logout</a>
          </div>
            
            <div class="d-flex justify-content-between gap-1 row">
                <div class="fw-bold fs-5 col-sm-12 col-md-5 col-lg-3">Welcome {{profile.username}}!</div>
                <div class="fs-5 col-sm-12 col-md-5 col-lg-3">
                   <strong>Last Login:</strong> {{profile.last_login}}
                </div>
            </div>
          <div class="d-flex justify-content-between align-items-center py-1">

             
          <div class="fs-3 fw-bold">{{profile.first_name|upper}} {{profile.last_name}}</div>
          
          <div>
          {% if user.profile.profile_passport %}
            <img src="{{user.profile.profile_passport.url}}" alt="" srcset="" class="rounded-circle" style="width: 5rem; height: 5rem;">
            {% else %}
            <img src="{% static '/images\profile_icon.png' %}" alt="" srcset="" class="rounded-circle" style="width: 5rem; height: 5rem;">
            {% endif %}
        </div>

          </div>
          
       </div>
        <div class="row gap-2 g-2 justify-content-evenly">
            <div class="card border-0 shadow-lg col-sm-12 col-md-5 col-lg-3 p-2 d-flex justify-content-center align-items-center" style="min-height: 7rem; max-height: 100%;">
                <h5 class="fw-bold"><i class="fa fa-user"></i> Profile</h5>
                <div><a href="{% url 'profile' user.id %}" class="btn btn-outline-primary">View</a></div>
            </div>
            <div class="card border-0 shadow-lg col-sm-12 col-md-5 col-lg-3 p-2 d-flex justify-content-center align-items-center" style="min-height: 7rem; max-height: 100%;">
                <h5 class="fw-bold"><i class="fa fa-edit"></i> Edit Profile</h5>
                <div><a href="{% url 'edit_profile' user.id %}" class="btn btn-outline-primary">Edit</a></div>
            </div>
            <div class="card border-0 shadow-lg col-sm-12 col-md-5 col-lg-3 p-2 d-flex justify-content-center align-items-center" style="min-height: 7rem; max-height: 100%;">
                <h5 class="fw-bold"><i class="fa fa-lock"></i> Change Password</h5>
                <div><a href="{% url 'password_change' %}" class="btn btn-outline-primary">Update</a></div>
            </div>
        </div>
      
    {% endfor %}
    {% endif %}
    </div>
</section>

  {% endblock personal_page %}  
