{% extends "side_nav.html" %}
{% block personal_page %}
{% load static %}

<section>
   <div class="d-flex justify-content-center mb-4">
    <div class="card col-sm-10 col-md-5 col-lg-3 d-flex justify-content-center align-items-center bg-primary" style="height: 7rem;">
        <h5 class="text-white fw-bold"> Number of {% if status == 'staff' %}
            Staff
          {% else %}
            Student
          {% endif %}</h5>
        <p class="fs-4 fw-bold">{{users_agg}}</p>
    </div>
   </div>
    
    <div
        class="table-responsive-sm px-3"
    >
        <table
            class="table table-striped table-hover table-border table-light align-middle"
            >
            {% if users %}
            <thead class="table-light">
                <tr>
                    <th class="text-center">
                        {% if status == 'staff' %}
                          Staff Id
                        {% else %}
                          Student Id
                        {% endif %}
                    </th>
                    <th class="text-center">Full Name</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
                {% for user in users  %}
                <tbody class="">
                    <tr
                        class="table-light"
                    >
                        <td scope="row" class="text-center">{{user.user.profile.profile_id}}</td>
                        <td scope="row" class="text-center">{{user.user.first_name}} {{user.user.last_name}}</td>
                        <td class="text-center">{{user.user.username}}</td>
                        <td class="text-center">{{user.user.profile.department}}</td>
                        <td class="text-center">{{status}}</td>
                        <td class="text-center">
                            {% if user.user.is_active %}
                              <i class="fa fa-check-circle text-success fs-5"></i>
                            {% else %}
                               <i class="fa fa-times-circle text-danger fs-5"></i> 
                            {% endif %}
                        </td>
                        <td>
                            <div class="d-flex gap-3 justify-content-center">
                                <div>
                                    <a href="{% url 'profile' user.user.id %}" class="text-decoration-none fs-5">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                               <div>
                                <a href="{% url 'delete_user' user.user.id %}" class="text-decoration-none fs-5">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                               </div>
                            </div>
                        </td>
                    </tr>
                   
                </tbody>
                {% endfor %}
        </table>
        {% else %}
        <div class="d-flex align-items-center justify-content-center" style="height: 50vh;">
                        <p class="text-center text-white fs-5">No record found <a href="{% url 'course_setup' %}" class="text-decoration-none text-warning fst-italic">Register Course</a></p>
                    </div>
           {% endif %}
    </div>
    

   


</section>
{% endblock personal_page %}